@import "../../styles/variables.scss";

.container {
  max-width: 1920px;
  margin: auto;

  .content {
    margin-top: 200px;
    margin-left: 100px;
    display: grid;
    grid-template-columns: 1fr 2fr;

    @media (max-width: $breakpoint1400) {
      margin-left: 0px;
      justify-items: center;
      grid-template-columns: 1fr;

    }
  }
}