$color-main: #FBFBFB;
$color-yellow: #FFCC26;
$color-gray: #414141;

//BREAKPOINTS

$breakpoint1600: 1600px;
$breakpoint1400: 1400px;
$breakpoint960: 960px;
$breakpoint720: 720px;
$breakpoint576: 576px;