@import "../../styles/variables.scss";

.container {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  width: 262px;
  height: 350px;
  border-radius: 30px;
  border: 1px dashed $color-gray;
  background: #FFF;
  font-family: Poppins;

  img {
    grid-area: 1 / 1 / 2 / 3;
    margin: 13px 15px 0px 15px;
    max-width: 232px;
    max-height: 232px;
    cursor: pointer;
  }

  .name{
    grid-area: 2 / 1 / 3 / 3;
    justify-content: center;
    height: 61px;
    margin-left: 25px;
    color: $color-gray;
    font-size: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .price{
    grid-area: 3 / 1 / 4 / 2;
    margin-left: 25px;
    color: $color-gray;
    font-size: 24px;
  }

  .favorite{
    grid-area: 3 / 2 / 4 / 3;

    &:hover {
      transform: translate3d(0, 0.1em, -0.1em);
      transition: transform 0.5s, box-shadow 0.1s;
    }
  }
}